body {
  --color-fore: #000000;
}

.color-gray {
  --color-fore: #999999;
}

.wsp-menu {
  scrollbar-width: none;
}

.wsp-main {
  height: 100%;
  flex-grow: 1;
}

@media screen and (max-width: 727px) {
  .wsp-menu {
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    max-width: 75px;
    border-right: 2px solid rgba(128, 128, 128, 0.2);
  }
  .wsp-menu .text {
    display: none;
  }
}

@media screen and (min-width: 728px) {
  .wsp-menu {
    display: block;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 200px;
    max-width: 240px;
    border-right: 2px solid rgba(128, 128, 128, 0.2);
  }
  .wsp-main {
    display: block;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
  }
}
