/* dashboard-plugin@0.0.1 */

div[plugin="dashboard-plugin"] {

  .dashboard-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 0.25rem;

    * {
        flex-shrink: 0;
    }

    + .dashboard-row {
        margin-top: 0.25rem;
    }
  }

}
